.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 5%;
}

.mainvisual {
  height: 100vh;
  position: relative;
}

.mainvisual .title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Playwrite GB S", cursive;
  width: 100%;
  text-align: center;
}

main {
  background-image: url(./assets/img/halloween.jpg);
  background-size: cover;
  background-position: center;
}

.wrap {
  background-color: rgba(0, 0, 0, 0.35);
  padding-bottom: 130px;
  padding-top: 100px;
}

main .container {
  display: flex;
  justify-content: space-around;
}

.btns {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  /* padding-bottom: 20px; */
  border: 2px solid rgba(208, 207, 207, 0.714);
  height: 100%;
}

main .container a {
  display: block;
  width: 30%;
}

main .wrap .container .btns:hover {
  background-color: rgba(255, 102, 0, 0.739);
}

@media screen and (max-width:600px) {
  main .container {
    display: block;
  }

  main .container a {
    width: 100%;
  }

  .btns {
    margin-bottom: 20px;
  }
}