@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

h1 {
  font-size: 3.1em;
  line-height: 1.1;
}

body {
  font-family: "Playwrite GB S", cursive;
}

a {
  color: black;
}